html {
  background-color: #ADD8E6
}

.Intro {
  font-family: Arial;
  color: #1a8cff;
}

#paragraph1 {
  font-family: Arial
  color: #003366;
  font-size: 18px;
}

.FirstList {
font-family: Arial;
  color: #003366;
}

#list {
  font-family: serif;
  color: #b3d9ff;
}

.ThreePlatforms {
  font-family: Arial;
  color: #003366;
}

#p2 {
  font-family: serif;
  font-size: 18px;
}

.list2 {
  font-family: serif;
  color: #b3d9ff;
}
Table, th, td {
  border-collapse: collapse;
  border: 2px solid black;
  height: 100px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: #6666ff;
}
