html {
  background-color: #f794c1;
}

body {
  border: 10px solid #ADD8E6;
  padding: 25px 50px;
}

h1, h2, h3 {
  font-family: monospace;
  color: #ADD8E6;
}

h2 {
  font-size: 24px;
}

h3 {
  font-size: 22px;
}

img {
  padding: 2px;
  border: 5px solid #ADD8E6;
  height: 310px;
  width: 320px;
}

p {
  font-family: serif;
  font-size: 18px;
}

* {
  line-height: 40px;
}

a:hover {
  color: #00ffe9;
}
.Header1 {
  font-size: 26px;
  color: #ADD8E6;
}

.Intro {
  font-family: Arial;
  color: #ADD8E6;
}

#paragraph1 {
  font-family: Arial
  color: #003366;
  font-size: 18px;
}

.Image1 {
  display: block;
  margin-left: auto;
   margin-right: auto;
   width: 50%;
   border-radius: 20px;
}

.FirstList {
font-size: 20px;
}

.List1 {
  font-family: Arial;
  font-size: 18px
  color: #b3d9ff;
}

.ThreePlatforms {
  font-size: 24px;
}

#p2 {
  font-size: 18px;
}

.List2 {
  font-family: Arial;
  font-size: 22px;
  color: #b3d9ff;
}
Table, th, td {
  border-collapse: collapse;
  border: 2px solid black;
  height: 100px;
  width: 750px;
  margin-left: auto;
  margin-right: auto;
  background-color: #ADD8E6;
}
