html {
  background-color: #2eea35;
}

body {
  border: 20px solid #ADD8E6;
  padding: 25px 50px;
}

img {
  border: 10px solid #ADD8E6;
  height: 200px;
  width: 325px;
}

* {
  line-height: 40px;
}

a:hover {
  color: #00ffe9;
}

h1, h2, h3 {
  font-family: monospace;
  color: #ADD8E6;
}

h2 {
  font-size: 22px;
}

h3 {
  font-size: 20px;
}

p {
  font-family: serif;
  font-size: 18px;
}

.Header {
  font: Verdana;
  font-style: oblique;
  font-size: 26px;
  font-weight: bolder;
  text-decoration: underline;
  color: #ADD8E6;
}

.vgames {
  height: 300px;
  width: 560px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 20px;
}

#X1 {
  margin-left: 0px;
  margin-right: 50px;
}

#X1S {
  margin-left: auto;
  margin-right: auto;
}

#X1X {
  margin-left: 50px;
  margin-right: 0px;
}

ul > li {
  color: white;
  font-weight: bold;
  font-weight: normal;
}

#Games > li {
  color: Black;
  font-weight: bold;
}
